-# .chat-main
-#   .main-header
-#     .main-header__left-box
-#       .main-header__left-box__current-group
-#         もりもりチーム
-#       .main-header__left-box__member-list
-#         Member:
-#       .main-header__left-box__member-list__member
-#         もりもり
-#     .main-header__edit-btn
-#       =link_to "Edit", '#'


-#   .messages
-#   %form
-#     %form.new_message{:id=> "new_message",:enctype=> "multipart/form-data",:action=>"/groups/7187/messages",:accept-charset=>"UTF-8",:method=>"post"}
-#       %input{:name=>  "utf8",:type=> "hidden",:value=> "✓"}
-#       %input{:type=>  "hidden",:name=> "authenticity_token",:value=> "uqlAchzgVCnnhXd07vcsFymu6InGumnxeHB4QNqo/No/xQkxv2eeepNmz2t94x9Mj940oYYYFsxYdWXYuKHoKA=="}
-#       .input-box
-#       %input{:placeholder=>  "type a message",:type=> "text",:name=> "message",:id=> "message_content"}
-#         %label{:class=>  "input-box__text",:for=> "message_image"}
-#           %i{:class=>  "fa fa-image"}
-#           .input-box__image__file
-#         %input{:type=>  "submit",:name=> "commit",:value=> "Send",:class=> "submit-btn",:data-disable-with=> "Send"}





