.wrapper
  = render "side_bar"
  -# = render "main_chat"



  .chat
    .header
      .left-header
        .left-header__title
          もりもりチーム
        %ul.left-header__members
          Member：
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名
      .right-header
        .right-header__button
          Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            メンバー
          .upper-message__date
            2019/12/04
        .lower-meesage
          .lower-message__content
            メッセージ
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = icon('fa','image',class: 'icon')
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}