@import 'font-awesome-sprockets';
@import "font-awesome";
@import "config/colors";
@import "config/font-size";
@import "config/reset";
@import "mixins/vendor_prefix";
@import "modules/side_bar";
@import "modules/chat";
@import "modules/user";
@import "messages/messages.scss";
@import "config/colors";
@import "modules/flash";
@import "modules/group";